<section>
  <div class="page-header">
    <h1>{{vm.client._id ? 'Editar Cliente' : 'Nuevo Cliente'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.clientForm" class="form-horizontal" ng-submit="vm.save(vm.form.clientForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="name">Nombre</label>
          <input name="name" type="text" ng-model="vm.client.name" id="name" class="form-control" placeholder="Nombre" required>
          <div ng-messages="vm.form.clientForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">El nombre del cliente es requerido.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="name">Razon social</label>
          <input name="business_name" type="text" ng-model="vm.client.business_name" id="business_name" class="form-control" placeholder="Razón social" required>
          <div ng-messages="vm.form.clientForm.business_name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">La razón social es requerida.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="name">CUIL</label>
          <input name="cuil" type="text" ng-model="vm.client.cuil" id="cuil" class="form-control" placeholder="CUIL" required>
          <div ng-messages="vm.form.clientForm.cuil.$error" role="alert">
            <p class="help-block error-text" ng-message="required">El numero de CUIL es requerido.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="name">Email</label>
          <input name="email" type="text" ng-model="vm.client.email" id="email" class="form-control" placeholder="Email" required>
          <div ng-messages="vm.form.clientForm.email.$error" role="alert">
            <p class="help-block error-text" ng-message="required">El email del cliente es requerido.</p>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.client._id ? 'Actualizar' : 'Crear'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
