<section>
  <div class="page-header">
    <h1>Clientes</h1>
  </div>
  <div class="list-group">
    <a data-ng-repeat="client in vm.clients"
       data-ui-sref="clients.view({ clientId: client._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Creado el
        <span data-ng-bind="client.created | date:'d MMM, y'"></span>
        por
        <span data-ng-if="client.user" data-ng-bind="client.user.displayName"></span>
        <span data-ng-if="!client.user">Usuario borrado</span>
      </small>
      <h4 class="list-group-item-heading" data-ng-bind="client.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="vm.clients.$resolved && !vm.clients.length">
    Aun no tiene clientes, quiere <a data-ui-sref="clients.create">crear uno nuevo</a>?
  </div>
</section>
