<section>
  <div class="page-header">
    <h1 data-ng-bind="vm.client.name"></h1>
    <h4 data-ng-bind="vm.client.email"></h4>
    <button data-ng-click="vm.sendMail()">Enviar email</button>
  </div>
  <div class="pull-right"
       data-ng-show="vm.client.isCurrentUserOwner">
    <a class="btn btn-primary"
       data-ui-sref="clients.edit({ clientId: vm.client._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" data-ng-click="vm.remove()" data-ng-if="vm.permission">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Creado el
      <span data-ng-bind="vm.client.created | date:'d MMM, y'"></span>
      por
      <span data-ng-if="vm.client.user"
            data-ng-bind="vm.client.user.displayName"></span>
      <span data-ng-if="!vm.client.user">Usuario borrado</span>
    </em>
  </small>
  <p class="lead" data-ng-bind="vm.client.content"></p>
</section>
