<section>
  <div class="page-header">
    <h1>Regulations</h1>
  </div>
  <div class="list-group">
    <a data-ng-repeat="regulation in vm.regulations"
       data-ui-sref="regulations.view({ regulationId: regulation._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span data-ng-bind="regulation.created | date:'mediumDate'"></span>
        by
        <span data-ng-if="regulation.user" data-ng-bind="regulation.user.displayName"></span>
        <span data-ng-if="!regulation.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" data-ng-bind="regulation.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="vm.regulations.$resolved && !vm.regulations.length">
    No Regulations yet, why don't you <a data-ui-sref="regulations.create">create one</a>?
  </div>
</section>
