<section>
  <div class="page-header">
    <h1>Normativas</h1>
  </div>
  <div class="list-group">
    <a data-ng-repeat="normativa in vm.normativas"
       data-ui-sref="normativas.view({ normativaId: normativa._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span data-ng-bind="normativa.created | date:'mediumDate'"></span>
        by
        <span data-ng-if="normativa.user" data-ng-bind="normativa.user.displayName"></span>
        <span data-ng-if="!normativa.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" data-ng-bind="normativa.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="vm.normativas.$resolved && !vm.normativas.length">
    No Normativas yet, why don't you <a data-ui-sref="normativas.create">create one</a>?
  </div>
</section>
