<section>
  <div class="page-header">
    <h1>Sociedades</h1>
  </div>
  <div class="list-group">
    <a data-ng-repeat="society in vm.societies"
       data-ui-sref="societies.view({ societyId: society._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Creado el
        <span data-ng-bind="society.created | date:'d MMM, y'"></span>
        por
        <span data-ng-if="society.user" data-ng-bind="society.user.displayName"></span>
        <span data-ng-if="!society.user">Usuario borrado</span>
      </small>
      <h4 class="list-group-item-heading" data-ng-bind="society.society.societyName"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="vm.societies.$resolved && !vm.societies.length && vm.permission">
    Aun no tiene sociedades, quiere <a data-ui-sref="societies.create">crear una nueva</a>?
  </div>
</section>
