<section>
  <div class="page-header">
    <div class="jumbotron">
      <div class="client_data">
        <h1 data-ng-bind="vm.society.society.societyName"></h1>
        <p style="display:inline;">Direccion:<h3 style="display:inline;" data-ng-bind="' ' + vm.society.society.SocietyAddress + ' ' + vm.society.society.SocietyAddressNumber"></h3></p>
        <p style="display:inline;">Presidente:<h3 style="display:inline;" data-ng-bind="' ' + vm.society.society.President"></h3></p>
        <p style="display:inline;">Vice Presidente:<h3 style="display:inline;" data-ng-bind="' ' + vm.society.society.VicePresident"></h3></p>
        <p style="display:inline;">Director Suplente:<h3 style="display:inline;" data-ng-bind="' ' + vm.society.society.AlternativeDirector"></h3></p>
        <p style="display:inline;">Capital de la sociedad:<h3 style="display:inline;" data-ng-bind="' ' + '$' + vm.society.society.societyNCapital"></h3></p>
        <p style="display:inline;">Numero de escritura:<h3 style="display:inline;" data-ng-bind="' ' + vm.society.society.escritura"></h3></p>
      </div>
    </div>
  </div>
  <div class="pull-right"
       data-ng-show="vm.authentication.user.roles.indexOf('superadmin') !== -1">
    <a class="btn btn-primary"
       data-ui-sref="societies.edit({ societyId: vm.society._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" data-ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Creado el
      <span data-ng-bind="vm.society.created | date:'d MMM, y'"></span>
      por
      <span data-ng-if="vm.society.user"
            data-ng-bind="vm.society.user.displayName"></span>
      <span data-ng-if="!vm.society.user">Usuario borrado</span>
    </em>
  </small>
  <p class="lead" data-ng-bind="vm.society.content"></p>
</section>
