<section>
  <div class="page-header">
    <h1>Statutes</h1>
  </div>
  <div class="list-group">
    <a data-ng-repeat="statute in vm.statutes"
       data-ui-sref="statutes.view({ statuteId: statute._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span data-ng-bind="statute.created | date:'d MMM, y'"></span>
        by
        <span data-ng-if="statute.user" data-ng-bind="statute.user.displayName"></span>
        <span data-ng-if="!statute.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" data-ng-bind="statute.name"></h4>
      <status />
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="vm.statutes.$resolved && !vm.statutes.length && vm.permission">
    No Statutes yet, why don't you <a data-ui-sref="statutes.create">create one</a>?
  </div>
</section>
